@import "tailwindcss";

@source "./src/**/*.{js,ts,jsx,tsx}";

@theme {
  --color-surface: var(--color-surface);
  --color-background: var(--color-background);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-text-main: var(--color-text-main);
  --color-text-muted: var(--color-text-muted);
  --color-border: var(--color-border);
  --color-border-hover: var(--color-border-hover);
}

:root {
  /* Light Theme (Zinc) */
  --color-primary: #18181b;
  /* Zinc 900 */
  --color-secondary: #00D084;
  --color-accent: #10b981;
  /* Emerald 500 */

  --color-background: #fafafa;
  /* Zinc 50 */
  --color-surface: #ffffff;
  /* White */

  --color-text-main: #18181b;
  /* Zinc 900 */
  --color-text-muted: #71717a;
  /* Zinc 500 */

  --color-border: #e4e4e7;
  /* Zinc 200 */
  --color-border-hover: #d4d4d8;
  /* Zinc 300 */

  --sidebar-bg: #ffffff;
  --sidebar-border: #e4e4e7;
}

.dark {
  /* Dark Theme (Deep Zinc) */
  --color-primary: #f4f4f5;
  /* Zinc 100 */
  --color-secondary: #00D084;
  --color-accent: #34d399;
  /* Emerald 400 */

  --color-background: #09090b;
  /* Zinc 950 */
  --color-surface: #18181b;
  /* Zinc 900 */

  --color-text-main: #ffffff;
  /* White */
  --color-text-muted: #a1a1aa;
  /* Zinc 400 */

  --color-border: #27272a;
  /* Zinc 800 */
  --color-border-hover: #3f3f46;
  /* Zinc 700 */

  --sidebar-bg: rgba(24, 24, 27, 0.6);
  /* Zinc 900 with opacity */
  --sidebar-border: #27272a;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.3s, color 0.3s;
}

/* Custom Utilities for smooth transitions */
.transition-theme {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}